
:root {
    --white: #ffffff;
    --black: #1a1e29;
    --rich-black: #101812;
    --brunswick-green: #101727;
    --dark-slate-gray: #395048;
    --pine-green: #0F7869;
    --cambridge-bleu: #69a188;
    --olivine: #A8BF87;
    --citron: #D0D088;
    --vanilla: #DBD6A3;
    --salin-sheen-gold: #C09838;
    --burnt-orange: #C05808;
}