
:root {
    --my-white: #eee;
    --plus-white: #fff;
    --light-grey: #e0dede;
    --violet-blue: #573b8a;
    --black: #000;
    --smoky-blue: #3D405B;
    --my-orange: #E07A5F;
    --light-yellow: #F4F1DE;
    --my-grey: #999;
    --navy: #282c34;
    --light-blue: #9bb7d4;
    --creamy: #F2CC8F;
    --dark-red: #49181e;
    --baby-green: #81B29A;
    --green: #8bc34a;
    --blue: #0077cc;
    --color-one: #52117d;
    --color-two: #a944ec;
    --color-three: #ffc800;
    --color-accent: #19ff70;
    --color-text: #fffed7;
    --color-bg: #181729;
}