@import "./color.css";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: var(--vanilla);
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: var(--vanilla);
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.profilImg {
    width: 45px;
    height: 45px;
}

.button-img {
    width: 60px;
    height: 60px;
    border-radius: 300px;
    background-color: var(--cambridge-bleu);
}

.app-title {
	height: 100%;
	display: grid;
    color: var(--pine-green);
    font-family: "Henny Penny", cursive;
    margin: auto;
    letter-spacing: 0.0015em;
    font-size: 20xpx;
    text-align: center;   
}

.app-title:hover{
    color: var(--pine-green);
}

h1 {
	margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}