@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #F4F1DE;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #F2CC8F;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

/*898E81
782703*/