@import "./color.css";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: var(--light-beige);
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: var(--light-beige);
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.profilImg {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

.app-title {
	height: 100%;
	display: grid;
    color: var(--my-orange);
    font-family: "Henny Penny", cursive;
    margin: auto;
    letter-spacing: 0.0015em;
    font-size: 20xpx;
    text-shadow: 0 1px var(--dark-creamy), -1px 0 var(--creamy), -1px 2px var(--dark-creamy), -2px 1px var(--creamy),
        -2px 3px var(--dark-creamy), -3px 2px var(--creamy), -3px 4px var(--dark-creamy), -4px 3px var(--creamy),
        -4px 5px var(--dark-creamy), -5px 4px var(--creamy), -5px 6px var(--dark-creamy), -6px 5px var(--creamy),
        -6px 7px var(--dark-creamy), -7px 6px var(--creamy), -7px 8px var(--dark-creamy), -8px 7px var(--creamy);
    text-align: center;
    
}

.app-title:hover{
    color: var(--my-orange);
}

h1 {
	margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}