.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.gameWrapper{
  padding-left: 25%;
}

.gameH2{
  vertical-align: middle;
  position: relative;
  vertical-align: middle;
  color: #E07A5F;
}

.card {
  width: 18%;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  border-radius: 2;
  background-color: #3D405B;
  display: flex; /* Ajout de cette propriété */
  flex-direction: column; /* Ajout de cette propriété */
}

.card .gameImg {
  width: 100%;
  height: 85%; 
}

.gameLabel {
  color: #000;
  text-align: center;
  font-size: 15px;
  color: #F4F1DE;
}

@media (max-width: 1200px) {
  .cards {
    justify-content: flex-start;
  }
}

@media (max-width: 992px) {
  .cards {
    justify-content: flex-start;
  }
  .card {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .cards {
    justify-content: center;
  }
  .card {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .cards {
    justify-content: center;
  }
  .card {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .cards {
    justify-content: center;
  }
  .card {
    width: 90%;
  }
}

.gameWrapper{
  margin-left: 250px;
  padding: 20px;
}

.library-content {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}