@import "./color.css";
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.gameWrapper{
  padding-left: 25%;
}

.gameH2{
  vertical-align: middle;
  position: relative;
  vertical-align: middle;
  color: var(--plus-white);
}

.card {
  width: 18%;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  border-radius: 2;
  background-color: var(--smoky-blue);
  display: flex;
  flex-direction: column; 
}

.card .gameImg {
  width: 100%;
  height: 85%; 
}

.gameLabel {
  color: var(--black);
  text-align: center;
  font-size: 15px;
  color: var(--navy);
}

@media (max-width: 1200px) {
  .cards {
    justify-content: flex-start;
  }
}

@media (max-width: 992px) {
  .cards {
    justify-content: flex-start;
  }
  .card {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .cards {
    justify-content: center;
  }
  .card {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .cards {
    justify-content: center;
  }
  .card {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .cards {
    justify-content: center;
  }
  .card {
    width: 90%;
  }
}

.gameWrapper{
  margin-left: 250px;
  padding: 20px;
}

.library-content {
  background-color: var(--plus-white);
  padding: 20px;
  margin-bottom: 20px;
}




:root {
  --background-color: #ffe5e5;
  --color: #000000;
  --feedback-bg-color: #ffffff;
  --feedback-icon-color: #ffffff;
  --feedback-form-input: #f4f4f4;
}

.center-content, .submit-feedback, .container {
  display: grid;
  place-content: center;
}

.submit-feedback {
  padding: 10px 10px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  background-color: var(--feedback-secondary-color);
  color: var(--feedback-primary-color);
  transition: all 0.3s;
  margin-top: 5vh;
}
.submit-feedback:hover {
  border-radius: 0px;
  color: var(--feedback-primary-color);
  background-color: var(--background-color);
}