.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.card {
  width: 15%;
  height: 250px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  border-radius: 2;
  background-color: #333333;
  display: flex; /* Ajout de cette propriété */
  flex-direction: column; /* Ajout de cette propriété */
}

.card .gameImg {
  width: 100%;
  height: 85%; 
}

.gameLabel {
  color: #000;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}

/* Affichage de 5 cartes par ligne */
@media (max-width: 1200px) {
  .cards {
    justify-content: flex-start;
  }
}

/* Affichage de 4 cartes par ligne */
@media (max-width: 992px) {
  .cards {
    justify-content: flex-start;
  }
  .card {
    width: 30%;
  }
}

/* Affichage de 3 cartes par ligne */
@media (max-width: 768px) {
  .cards {
    justify-content: center;
  }
  .card {
    width: 33.33%;
  }
}

/* Affichage de 2 cartes par ligne */
@media (max-width: 576px) {
  .cards {
    justify-content: center;
  }
  .card {
    width: 50%;
  }
}

/* Affichage d'une carte par ligne */
@media (max-width: 400px) {
  .cards {
    justify-content: center;
  }
  .card {
    width: 90%;
  }
}

