@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");
@import "./color.css";

#container {
  padding-top: 10%;
  padding-left: 35%;
  width: 150%;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  background-size: calc(10 * 2px) calc(10 * 2px);
}

.container-inner {
  background: var(--creamy);
  padding: 50px;
  border-radius: 30px;
  width: 640px;
}

.content {
  font-family: "Skranji", cursive;
  background: var(--creamy);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
}

.button {
  padding: 5px;
  flex: 1;
  border-radius: 20px;
  border: 2px solid var(--dark-red);
  font-family: "Skranji", cursive;
  color: var(--plus-white);
  font-size: 20px;
  text-shadow: 1px 2px 3px var(--black);
  background: var(--black);
}

.popup-container {
  position: fixed;
  padding-right: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}
  
.addGameInput{
  border-radius: 20px 18px 20px 18px;
  padding: 5px;
  margin: 7px;
}

.nameGameInput{
  width: 100%;
}

.nbInput{
  width: 60px;
}

.h3Game{
  font-family: "Skranji", cursive;
  font-size: 20px;
  text-align: center;
}

.buttonAddGame{  
  background-color: var(--baby-green);
  margin-top: 40px;
  gap: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid var(--dark-red);
  width: 15%;
  font-family: "Skranji";
  text-align: center;
  font-size: 20px;
}

.buttonDiv{
  display: flex; 
  justify-content: center; 
  align-items: center;
}


/*Party PopUp*/

.popUp-body{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 50%;
  height: 100%;
}


.cancel-button{
  margin-top: 40px;
}


/*CheckBox*/

.lns-checkbox {
  display: inline-flex;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  align-items: center;
  line-height: 1;
  border-radius: 5px;
  background-color: #010101;
  padding: 5px 7px 5px 7px;
  user-select: none;
  margin: 15px;

  @media (min-width: 992px) {
    font-size: 1.25rem;
  }

  span {
    position: relative;
    display: flex;
    align-items: center;
  }

  input[type="checkbox"] {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;

    &:checked + span::after {
      background-color: var(--color-accent);
    }

    &:checked + span {
      color: var(--color-accent);
    }

    &:focus + span::before {
      border-color: var(--color-accent);
    }

    &:disabled {
      opacity: 0.85;
      & + span {
        color: #9a9a88;
      }
    }
  }

  span::before {
    content: "";
    display: inline-block;
    border-radius: 3px;
    background-color: #414051;
    margin-right: 8px;
    height: 16px;
    width: 16px;
    border: 1px solid transparent;
  }

  input[type="checkbox"] {
  }

  span::after {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    background-color: transparent;
    left: 3px;
    position: absolute;
  }
}
